<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글목록</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
   <div id="container">
         <h2>글목록</h2>
          <table class="wrap">
           <thead>
            <tr>
             <th>번호</th>
             <th>글제목</th>
             <th>글쓴이</th>
             <th>작성일</th>
             <th>조회수</th>            
            </tr>
           </thead>
           
           <tbody>
            <tr th:each="board: ${boardlist}">
             <td th:text="${board.id}"></td>
             <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>          
             <td th:text="${board.boardWriter}"></td>
             <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
             <td th:text="${board.boardhit}"></td>
            
             
             <!-- 버티컬바(|) 자료형을 유지시켜줌 -->
             
                    
            </tr>
            <a th:href="@{/}">홈</a>
           </tbody>          
          </table>                
   </div>
</body>
</html>